nav{

    background-color: black;

}

nav>a{

    color: white;
    text-align: center;
    font-family: 'Press Start 2P';
    margin: 1%;

}

body{

    background-color: rgb(176, 236, 237);
    text-align: center;

}