nav{

    background-color: black;
    padding: 1%;


}
main>h1{
    text-align: center;
    color: aqua;
    font-family: 'EB Garamond', serif;
    font-family: 'Sassy Frass', cursive;
}
main>p{
    text-align: center;
}

nav>a{

    color: white;
    text-align: right;
    font-family: 'Press Start 2P';
    margin-left: 2%;
    margin-right: 2%;


}

body{

    background-color: rgb(176, 236, 237);
    text-align: center;

}