

nav{

    background-color: black;
    padding: 1%;


}

nav>a{

    color: white;
    text-align: right;
    font-family: 'Press Start 2P';


}

body{

    background-color: rgb(176, 236, 237);
    text-align: center;

}